*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background-image: url(./assets/pexels-maxyne-barcel-10402282\ 1.png);
    background-repeat: no-repeat;
    background-size:100% 100%;
    font-family: 'Poppins', sans-serif;
    font-family: 'Red Rose'bold;
}
.header{
    display: flex;
    height:10%;
    margin: 10px;
    align-items: center;
    justify-content:space-around;
}
.header img{
    height: 30px;
}
.header nav ul{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}
.header nav ul li{
    list-style: none;
    align-items:center;
    justify-content: center;
    margin: 20px;
}
.header a{
    text-decoration: none;
    color: #ffc233;
    font-size: 18px;
    font-weight: 500;
}
.header button{
    height: 30px;
    width: 100px;
    background-color: #ff505f;
    border: none;
    color: #ffffff;
    font-weight: 600;
}
.main{
    text-align: center;
    margin-top:20px;
    font-size: 30px;
}
.main h1{
    color:#ffc233;
    text-transform: capitalize;
    font-weight: 900;
}
.main button{
    padding: 12px 25px;
    margin-top: 15px;
    font-weight:800;
    color: #ffffff;
    background-color: #ff505f;
    border: none;
}
.main img{
    height: 125px;
    position: absolute;
    bottom: 30px;
    right: 50px;
}
